body {
  margin: 0;
}

#frame {
  /*border: solid 1px;*/
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

#category-month-title {
  position: relative;
  top: 30px;
  font-size: 60px;
  font-weight: bold;
  color: #FF3D00;
}

.category-month-msg {
  margin-top: 30px;
}

#category-month-table {
  margin: 0 auto;
}

#category-month-home {
  clear: both;
  position: absolute;
  top:10px;
  right: 100px;
  width: 64px;
  height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background-color: #3F51B5;
}

#category-month-logout {
  position: absolute;
  top:10px;
  right: 10px;
  width: 64px;
  height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background-color: #3F51B5;
}
