body {
  margin: 0;
}

#frame {
  /*border: solid 1px;*/
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

#edit-title {
  position: relative;
  top: 20px;
  font-size: 60px;
  font-weight: bold;
  color: #FF3D00;
}

#edit-frame {
  /*border: solid 1px;*/
  margin-top: 30px;
}

.fill {
  font-weight: bold;
}

.fill-label {
  /*border: solid 1px;*/
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  overflow-x: scroll;
}

#button {
  width: 160px;
  height: 30px;
  margin-top: 15px;
  background-color: #00C853;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

#submit {
  width: 72px;
}

#edit-home {
  clear: both;
  position: absolute;
  top:10px;
  right: 120px;
  width: 80px;
  height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: #3F51B5;
}

#edit-logout {
  position: absolute;
  top:10px;
  right: 30px;
  width: 80px;
  height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: #3F51B5;
}

#category-list {
  width: 140px;
}

#number-alert {
  font-size: 12px;
}
