body {
  margin: 0;
}

#frame {
  /*border: solid 1px;*/
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

#logout-title {
  position: relative;
  top: 30px;
  font-size: 60px;
  font-weight: bold;
  color: #FF3D00;
}

#logout-msg {
  margin-top: 50px;
}

#rink-index {
  height: 50px;
  background-color: #2196F3;
  font-size: 20px;
  font-weight: bold;
}
