body {
  margin: 0;
}

#frame {
  /*border: solid 1px;*/
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

#sign-frame {
  /*border: solid 1px;*/
  margin: 0 auto;
  width: 800px;
  margin-top: 100px;
}

#sign-title {
  position: relative;
  top: 30px;
  font-size: 60px;
  font-weight: bold;
  color: #FF3D00;
}

#sign-nm {
  font-weight: bold;
}

#sign-pass {
  font-weight: bold;
}

#sign-name {
  margin-left: 240px;
}

#sign-password {
  margin-left: 240px;
}

#sign-submit {
  width: 100px;
  font-size: 24px;
}

#name-label {
  margin-bottom: 20px;
}

.alrt {
  color: #d50000;
}

#rink-index {
  height: 30px;
  background-color: #2196F3;
  font-weight: bold;
  margin-top: 30px;
}

#remaining-name {
  color: #FF4081;
}

#remaining-password {
  color: #FF4081;
}
