body {
  margin: 0;
}

#frame {
  /*border: solid 1px;*/
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

#users-title {
  position: relative;
  top: 80px;
  font-size: 60px;
  font-weight: bold;
  color: #FF3D00;
}

#users-msg {
  margin-top: 160px;
}

#add-new {
  font-weight: bold;
}

#users-frame {
  /*border: solid 1px;*/
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

.users-form {
  margin: 30px 88px 0px 88px;
  float: left;
  font-size: 16px;
  color: #3E2723;
}

#users-clear {
  clear: both;
  position: absolute;
  top:10px;
  right: 120px;
  width: 64px;
  height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background-color: #3F51B5;
}

#users-logout {
  position: absolute;
  top:10px;
  right: 30px;
  width: 64px;
  height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background-color: #3F51B5;
}
