body {
  margin: 0;
}

#frame {
  /*border: solid 1px;*/
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

#year-title {
  position: relative;
  top: 30px;
  font-size: 60px;
  font-weight: bold;
  color: #FF3D00;
}

#year-msg {
  margin-top: 50px;
}

.year-box {
  /*border: solid 1px;*/
  width: 240px;
  float: left;
  margin: 0px 110px 0px 110px;
}

#left-box {
  padding: 5px 0px 5px 0px;
}

#right-box {
  position: relative;
  left: 88px;
}

.year-list {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
}

.year-table {
  margin: 0 auto;
  margin-top: 10px;
}

#year-home {
  clear: both;
  position: absolute;
  top:10px;
  right: 60px;
  height: 30px;
  color: #000;
  font-weight: bold;
  background-color: #3F51B5;
}

#year-logout {
  clear: both;
  position: absolute;
  top:10px;
  right: 10px;
  height: 30px;
  color: #000;
  font-weight: bold;
  background-color: #3F51B5;
}
