<div id="index-title">Mycash</div>

<div id="outer-frame">

<div id="index-frame">
<h1 id="index_msg"><span id="you">You</span> <span id="can">can</span> <span id="record">record</span> <span id="your">your</span> <span id="expenses">expenses</span> <span id="easily">easily</span></h1>

<div><a href="/login"><button type="button" class="index_btn">Login</button></a></div>
<div><a href="/sign_up"><button type="button" class="index_btn">Sign_up</button></a></div>
</div>

</div>
