<!DOCTYPE html>
<html lang="ja">
<head>
  <link href="/stylesheet/index.css" rel="stylesheet" />
  <link href="/stylesheet/sign_up.css" rel="stylesheet" />
  <link href="/stylesheet/login.css" rel="stylesheet" />
  <link href="/stylesheet/users.css" rel="stylesheet" />
  <link href="/stylesheet/new.css" rel="stylesheet" />
  <link href="/stylesheet/edit.css" rel="stylesheet" />
  <link href="/stylesheet/date_show.css" rel="stylesheet" />
  <link href="/stylesheet/month_show.css" rel="stylesheet" />
  <link href="/stylesheet/year_show.css" rel="stylesheet" />
  <link href="/stylesheet/category_month.css" rel="stylesheet" />
  <link href="/stylesheet/category_year.css" rel="stylesheet" />
  <link href="/stylesheet/logout.css" rel="stylesheet" />
  <link rel="shortcut icon" href="favicon.ico">
  <meta charset="utf-8">
  <title>Mycash</title>
</head>
<body>
  <div id="frame">

    <%= yield %>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/javascript/Kakeibo.js"></script>

</body>

</html>
