<div id="new-title">Mycash</div>
<div id="new-frame">
<h1 id="new-msg">What did you spend?</h1>

<form id="new-form" method="post"  action="/users">

  <div class="fill-label">
    <label>
      <div class="fill">Title</div><div><input id="text" type="text" name="title" ></div>
    </label>
  </div>

  <div class="fill-label">
    <label>
      <div class="fill">Price</div><div><input id="number" type="number" name="price"></diV>
    </label>
  </div>

  <div class="fill-label">
    <label>
      <div class="fill">Date</div><div><input id="date" type="date" name="spent_date"></diV>
    </label>
  </div>

  <div class="fill-label">
    <div class="fill">Category</div>
    <label id="category">
      <select name="category" class="select-category" id="category-list">
      <% @lists.each do |list| %>
        <option value="<%= list.category.name %>"><%= list.category.name %></option>
      <% end %>
      </select>

      <div id="button-parent"><button type="button" id="button">Make new category</button></div>
    </label>
  </div>

  <br><div><input id="submit" type="submit" value="Send"></div>

</form>

<a href="/users"><button type="button" id="new-home">Home</button></a>
</div>

<a href="/logout"><button type="button" id="new-logout">Logout</button></a>
